/*  your css code here. If applicable */
.nav-bar{
	padding:10px;
	background-color:#D3D3D3;
	
}
ul{
	list-style:none;
	margin-right:1rem;
	display:flex;
	justify-content:space-between
}
ul > li{

	display:inline;
}